body{
    font-family: 'Encode Sans SC', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
    margin-bottom: 10%;
}

.half-width{
    width: 50%;
    padding-left: 60px;
    
}
.half-width img{
    width: 80%;
    border-radius: 0px 0px 70px 0px;
}
#shadow-image{
    box-shadow: 20px 20px 20px lightgrey;
    
}
    

.link-button{
    padding: 10px 20px;
    background-color: tomato;
    border-radius: 10px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 400px;
    color: white;
}
.top-header{
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size: 700px;
}
.services{
    text-align: center;
    margin-bottom: 5%;

}


#servic-field{
    box-shadow: 10px 10px 10px rgb(212, 212, 212);
    margin: 25px;
    padding-left: 50px;
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: justify;

}

.counting{
    text-align: center;
    display: flex;
    background-color: rgb(231, 228, 228);
    background-position: center;
    background-size: cover;
    padding-right: 20px;
    box-shadow: 20px 20px 20px lightgrey;

}



footer{
    text-decoration: none;
    text-align: center;
    font-weight: 700px;
    color: tomato;
    background-color: rgb(219, 219, 219);
    padding: 10px 20px;
}

.input{
    padding: 10px 20px;
    background-color: rgb(173, 183, 194);
    border: none;
    border-radius: 5px;
    margin: 5px;

}
.input-msg{
    padding: 30px 130px;
    background-color: rgb(173, 183, 194);
    border: none;
    border-radius: 5px;
    margin-top: 1px;

}


.submit-button{
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500px;
    background-color: rgb(173, 183, 194);
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    text-align: center;
}

.fa-facebook{
    padding: 10px 13px;
    background-color: rgb(5, 90, 175);
    border-radius: 50px;
    color: white;
    margin-left: 20px;

}
.fa-linkedin{
    padding: 10px 10px;
    background-color: rgb(5, 90, 175);
    border-radius: 50px;
    color: white;

}
.fa-twitter{
    padding: 10px 10px;
    background-color: rgb(5, 90, 175);
    border-radius: 50px;
    color: white;
}
.fa-google{
    padding: 10px 10px;
    background-color: rgb(5, 90, 175);
    border-radius: 50px;
    color: white;
}

#contact{
    color: black;
    font-size: 20px;
    text-decoration: none;

}